<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-faceki-blaze" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>FacekiBlaze</name>

    <!-- JS -->
    <js-module src="www/FacekiBlaze.js" name="FacekiBlaze">
        <clobbers target="cordova.plugins.FacekiBlaze"/>
    </js-module>

    <!-- ================= iOS ================= -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FacekiBlaze">
                <param name="ios-package" value="FacekiBlaze"/>
            </feature>
        </config-file>

        <preference name="UseSwiftLanguageVersion" value="5"/>

        <source-file src="src/ios/FacekiBlaze.swift"/>

        <podspec>
            <pods>
                <pod name="FACEKI-BLAZE-IOS" spec="~> 3.0.0"/>
            </pods>
        </podspec>

        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>Camera is required for identity verification</string>
        </edit-config>
    </platform>

    <!-- ================= ANDROID ================= -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FacekiBlaze">
                <param name="android-package" value="com.faceki.blaze.FacekiBlaze"/>
            </feature>
        </config-file>

        <source-file src="src/android/FacekiBlaze.java" target-dir="src/com/faceki/blaze"/>

        <!-- Gradle -->
        <framework src="https://jitpack.io" custom="true" type="gradleReference"/>
        <framework src="com.github.faceki:blaze-android-sdk:1.0.3" type="gradle"/>
    </platform>

</plugin>
``
