<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-faceki-blaze"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>FacekiBlaze</name>
    <description>Faceki Blaze Cordova Plugin (iOS + Android)</description>
    <license>MIT</license>

    <!-- ================= JS MODULE ================= -->
    <js-module src="www/FacekiBlaze.js" name="FacekiBlaze">
        <clobbers target="cordova.plugins.FacekiBlaze" />
    </js-module>

    <!-- ================= iOS ================= -->

        <preference name="USESWIFTLANGUAGEVERSION" default="5.0" />
 <platform name="ios">

    <!-- Register plugin -->
    <config-file target="config.xml" parent="/*">
        <feature name="FacekiBlaze">
            <param name="ios-package" value="FacekiBlaze" />
        </feature>
    </config-file>

    <!-- ✅ IMPORTANT: use variable -->
    <preference name="UseSwiftLanguageVersion" value="$USESWIFTLANGUAGEVERSION" />

    <!-- Swift file -->
    <source-file src="src/ios/FacekiBlaze.swift" />

    <!-- CocoaPods -->
    <podspec>
        <pods>
            <pod name="FACEKI-BLAZE-IOS" spec="~> 3.0.0" />
        </pods>
    </podspec>

    <!-- Camera permission -->
    <edit-config file="*-Info.plist"
                 target="NSCameraUsageDescription"
                 mode="merge">
        <string>Camera is required for identity verification</string>
    </edit-config>

</platform>

    <!-- ================= ANDROID ================= -->
<platform name="android">

    <!-- Register plugin -->
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="FacekiBlaze">
            <param name="android-package" value="com.faceki.blaze.FacekiBlaze" />
        </feature>
    </config-file>

    <!-- Java file -->
    <source-file src="src/android/FacekiBlaze.java" target-dir="src/com/faceki/blaze" />

    <!-- ✅ CORRECT WAY TO ADD JITPACK -->
    <framework src="https://jitpack.io" custom="true" type="gradleRepository" />

    <!-- ✅ FACEKI SDK (version placeholder for now) -->
    <framework src="com.github.faceki:blaze-android-sdk:TAG" />

    <!-- Internet permission -->
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

</platform>

</plugin>
